apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: express-app
  labels:
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app: express-app
  endpoints:
  - port: http
    path: /metrics
    interval: 10s
